<a href="https://colab.research.google.com/github/Lucasbarbs/Aula-01/blob/main/01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#listas de alunos
alunos = ['Dyana', 'Jorge', 'Igor', 'Eduardo', 'Laura']

In [3]:
#alterar o valores de ítens de lista
alunos[3] = 'Ivan'

In [4]:
#inserir valores na lista .append()
alunos.append('Alex')
alunos

['Dyana', 'Jorge', 'Igor', 'Ivan', 'Laura', 'Alex']

In [ ]:
alunos.append(input('Digite o nome'))

In [ ]:
#Descobrir se há um valor determinado na lista, exibir sua posição
if 'Luiz'in alunos:
  print('Tem Luiz SIIM')
   print(alunos.index('Luiz'))

In [ ]:
nome = input('Digite o nome: ')
if nome in aluno:
  print('Tem', nome)
else:
    print('Não tem', nome)

In [ ]:
#deletar

In [ ]:
#Criar uma lista com números de 1 a 15
numeros = []
for numa in range(15):
   numeros.append(num)

In [9]:
dobro = []
for num in numeros:
  dobro.append(numeros[0]*2)
  dobro

In [12]:
#Descobrir se um número é par
a = 8 
if a%2 == 0:
  print('É par')
else:
    print('É impar')

É par

In [19]:
for num in numeros:
  if numeros[num]%2 == 0:
    print(numeros[num])